<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>My Blog</title>
    </head>
    <body>

        <h1>My Blogs</h1>
        <nav>
            <a href="{{site.baseurl}}/">Home</a> |
            <a href="{{site.baseurl}}/news.html">News</a> |
            <a href="{{site.baseurl}}/about.html">About</a>
        </nav>

        {{ content }}


    </body>
</html>    